#QuoteBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
    text-align: center;
    font-size: 24px;
    max-width: 600px;
    cursor: pointer;

    display: flex;
    align-items: center;
    
    & #quoteContainer {
       margin: 0 20px;
       display: flex;
       align-items: center;
       justify-content: center;
       min-height: 100px;
    }

    & button{
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.466);
        height: 100px;
        transition: all 0.3s ease;

        &.disabled {
            cursor: default;
            color: rgba(0, 0, 0, 0.1);
        }
    }


    & #AlertText{
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;

        &.visible {opacity: 1;}

    }

    & .topNotifier {
        user-select: none;
        transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
        position: relative;
        display: block;
        color: rgba(0, 0, 0, 0.521);
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;

        &.visible_TopNotifier {
            opacity: 1;
            top: 0px;
        }

        &.hidden_TopNotifier {
            opacity: 0;
            top: 10px;
        }
    }
}