@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wdth,wght@75..125,100..1000&display=swap');

#root {
  max-width: 1280px;
  font-family: "Roboto Flex", sans-serif;
}

body{
  background: radial-gradient(circle at center, #0d0d0d34 0%, #36322938 100%);
}


